<p id="notice"><%= notice %></p>

<h1>Listing Packings</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @packings.each do |packing| %>
      <tr>
        <td><%= image_tag packing.image, :width => 150, :height => 150 %></td>
        <td><%= packing.title %></td>
        <td><%= packing.description %></td>
        <td><%= packing.price %></td>
        <td><%= link_to 'Show', packing %></td>
        <td><%= link_to 'Edit', edit_packing_path(packing) %></td>
        <td><%= link_to 'Destroy', packing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Packing', new_packing_path %>
